/* ======= CART ======= */

.cart {
  position: fixed;
  top: 25px;
  right: 10%;
  display: flex;
  width: 30%;
  margin: 35px 0;
  padding: 30px;
  align-content: center;
  flex-direction: column;
  min-width: 330px;
}

.hidden {
  display: none;
}

.triangle-up{
  position: absolute;
  right: 50px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--bg-box);
}

.summary-cart {
  width: 100%;
}

.summary {
  box-shadow: 5px 5px 30px var(--text);
  background: var(--bg-box);
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.summary p {
  color: var(--title);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.summary-product {
  padding: 10px 0;
  overflow: auto;
  max-height: 250px;
}

/** items summary */

.summary ul {
  list-style: none;
  margin: 10px;
}

.summary li {
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 10px;
}

.summary-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-img {
  padding: 5px;
  width: 30%;
}

.summary-img img {
  border-radius: 5px;
  width: 100%;
  object-fit: scale-down;
}

.summary-description{
  width: 55%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.summary-description-name p {
  color: var(--subtitle);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.summary-description-product{
  padding-top: 5px;
}

.summary-description-product p {
  color: var(--text);
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}

.summary-description-product .s-price {
  font-weight: 600;
}

.summary-add {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid var(--border);
  color: var(--button);
}

.summary-add span {
  font-size: 20px;
  transition: filter 0.2s;
  cursor: pointer;
  padding: 5px;
}

.summary-add span:hover {
	opacity: 0.7;
}

/** summary costs */

.summary-cost{
  padding: 10px;
}

.cost {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  padding: 15px 0;
}

.label strong {
  font-size: 16px;
  color: var(--subtitle);
}

.total {
  font-weight: 900;
  font-size: 20px;
  color: var(--subtitle);
}

.subtotal p{
  color: var(--text);
}

/** checkout */

.checkout-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout {
  height: 45px;
  width: 100%;
	border: 0;
  background-color: var(--button);
  color: var(--button-text);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: filter 0.2s;
  cursor: pointer;
  margin-top: 20px;
}

.checkout:hover {
	opacity: 0.8;
}

@media (min-width: 1500px) {
  .summary-img {
    width: 15%;
  }

  .summary-description{
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .summary-description-product{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-right: 20px;
  }

  .summary-add {
    width: 10%;
  }

  .label strong {
    padding: 0 10px;
    font-size: 18px;
  }
  
  .total {
    font-size: 25px;
  }

  .checkout {
    font-size: 22px;
  }
}