/* ======= FOOTER ======= */

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 20px 30px;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign {
  font-size: 14px;
  font-weight: 200;
}

.sign span,
a {
  color: #333;
  text-decoration: none;
}