@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
}

/* ======= MAIN ======= */

main {
  margin: 70px 0 50px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

main .container {
  width: 80%;
  display: flex;
  min-width: 340px;
}
